
@font-face {
  font-family: 'SansitaOne';
  src: url('SansitaOne.eot?#iefix') format('embedded-opentype'),  url('SansitaOne.woff') format('woff'), url('SansitaOne.ttf')  format('truetype'), url('SansitaOne.svg#SansitaOne') format('svg');
  font-weight: normal;
  font-style: normal;
}
