<!doctype html>
<html ng-app="oxs-registration" lang="en">

<head>
    <meta charset="UTF-8">
    <title>OXS.eco Registration</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

         //###resp###
//        let response = {
//            "success": false,
//            "error": "tokenInvalid",
//            "reqid": "<reqid>",
//            "errorDetail": [{
//                "param": "<param>",
//                "error": "<error>"
//            }]
//        }
    </script>

    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
</head>

<body>
    <reg-root></reg-root>
</body>

</html>
