<ng-form name="pwdform">
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{"FORM_PASSWORD" | translate}}</label>
            <input type="password" name="password" ng-model="$ctrl.selectedState.add.password" ng-class="{'input-error': (pwdform.password.$touched && (pwdform.password.$invalid || pwdform.password.$pristine))}" validate-password="$ctrl.passwordValidationPattern" validate-password-strength required>
            <div ng-messages="pwdform.password.$error" ng-show="pwdform.password.$touched && (pwdform.password.$invalid)" style="color:maroon" role="alert">
                <div ng-message="required">{{"MESSAGE_VALIDATION_EMPTY_FIELD" | translate}}</div>
                <div ng-message="unexpected_password_pattern">{{"MESSAGE_VALIDATION_PASSWORD" | translate}}</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>{{"FORM_REPEAT_PASSWORD" | translate}}</label>
            <input type="password" name="repeatedpassword" ng-model="$ctrl.repeatedpassword" ng-class="{'input-error': (pwdform.repeatedpassword.$touched && (pwdform.repeatedpassword.$invalid || pwdform.repeatedpassword.$pristine))}" required>
            <div ng-messages="pwdform.repeatedpassword.$error" ng-show="pwdform.repeatedpassword.$touched && (pwdform.repeatedpassword.$invalid)" style="color:maroon" role="alert">
                <div ng-message="required">{{"MESSAGE_VALIDATION_EMPTY_FIELD" | translate}}</div>
                <div ng-message="reentered_password_unequal">{{"MESSAGE_VALIDATION_REPEAT_PASSWORD" | translate}}</div>
            </div>
        </md-input-container>
    </div>
</ng-form>
